<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>記事検索アプリ</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">

      <img src="img/image_top7.jpeg"  class="bg-hero">
      <div class="top-wrap">
        <h1 class="top-title">WORLD WIDE NEWS</h1>
        <div class="next-page">
          <a class="start flash" href="#sortbox">START</a>
        </div>
      </div>

      <div id ="sortbox" class="sortbox">
        <input placeholder="キーワードを入力" type="text" v-model="keyword">
        <select v-model="pageSize" v-cloak>
          <option disabled>選択して下さい</option>
          <option v-for="pagesize in pageSizes">{{pagesize}}</option>
        </select>
        <select v-model="sortBy" v-cloak>
          <option disabled>選択して下さい</option>
          <option v-for="sortby in sortBys">{{sortby}}</option>
        </select>
      </div>

      <p v-if="message!==''" class="loading-message flash" v-cloak>{{message}}</p>

      <ul>
        <li v-for="result in results" v-cloak>
          <article class="article-list">
            <h2 class="article-title">{{result.title}}</h2>
            <div class="article-img">
              <a :href="result.url">
                <img v-if="result.urlToImage === null" class="article-thumbnail" src="img/no_image2.png" alt="サムネイルが設定されていません">
                <img v-else class="article-thumbnail" :src="result.urlToImage" alt="エラーでサムネイルが取得できませんでした">
              </a>
            </div>
            <p class="article-description">{{result.description}}</p>
          </article>
        </li>
      </ul>

    </div><!-- #app -->

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script src="smooth-scroll.polyfills.min.js"></script>
<script src="main.js"></script>

</body>
</html>
